<div class="recommendations-container">
  <div class="recommendations-header">
    <h2>Preporuke za praćenje</h2>
    <button mat-raised-button color="primary" routerLink="/following/users">
      <mat-icon>people</mat-icon>
      Svi korisnici
    </button>
  </div>
  
  <div *ngIf="recommendations && recommendations.length > 0; else noRecommendations">
    <app-user-card 
      *ngFor="let user of recommendations"
      [user]="user"
      [isFollowing]="false" 
      (follow)="onFollow($event)">
    </app-user-card>
  </div>

  <ng-template #noRecommendations>
    <p>Trenutno nema preporuka za vas. Istražite više!</p>
  </ng-template>
</div>