<div class="user-list-container">
  <div class="user-list-header">
    <h2>Svi korisnici</h2>
    <button mat-raised-button color="primary" routerLink="/following/recommendations">
      <mat-icon>recommend</mat-icon>
      Preporučeni korisnici
    </button>
  </div>

  <div *ngIf="isLoading">
    <p>Učitavanje korisnika...</p>
  </div>

  <div *ngIf="!isLoading && users.length > 0">
    <app-user-card 
      *ngFor="let user of users"
      [user]="user"
      [isFollowing]="followingIds.has(user.id)" 
      (follow)="onFollow($event)">
    </app-user-card>
  </div>
</div>