<div class="feed-container">
  <div class="feed-header">
    <h2>Najnovije objave</h2>
    <button mat-raised-button color="primary" routerLink="/blogs/create">
      <mat-icon>add</mat-icon>
      Kreiraj Blog
    </button>
  </div>

  <div *ngIf="isLoading">
    <p>Učitavanje blogova...</p>
  </div>

  <div *ngIf="!isLoading && allBlogs.length > 0; else noBlogs">
    <app-blog-card 
      *ngFor="let blog of allBlogs" 
      [blog]="blog"

      [isClickable]="followedBlogIds.has(blog.id!)"> 
    </app-blog-card>
  </div>

  <ng-template #noBlogs>
    <p *ngIf="!isLoading">Trenutno nema dostupnih blogova.</p>
  </ng-template>
</div>