<div class="container">
    <h1>All tours</h1>
    <div *ngIf="openBuyDialog" class="buydialog">
        <p>Are you sure you want to buy this tour?</p>
        <div class="confirmbuttons"> <button mat-flat-button color="primary" (click)="buyTour()">Yes</button> <button  (click)="cancelBuying()" mat-flat-button color="primary">No</button></div>
    </div>
    <button *ngIf="this.user?.role === 'author'" mat-flat-button (click)="openCreateTour()">Add Tour</button>
    <div  class="all-tours">
        <div *ngFor="let tour of tours">
            <mat-card class="tour">
                <mat-card-header class="tour-header">
                    <mat-card-title>{{ tour.name }}</mat-card-title>
                    <div class="tour-difficulty" [ngClass]="tour.difficulty.toLowerCase()">
                        <mat-card-subtitle>
                            @if(tour.difficulty == 'EASY'){
                                <img class="difficulty-img" src="../../../assets/tour-difficulty/easy.png">
                            } @else {
                                <img class="difficulty-img" src="../../../assets/tour-difficulty/hard.png">
                            }
                            {{ tour.difficulty }}
                        </mat-card-subtitle>
                    </div>
                </mat-card-header>

                <mat-card-content class="tour-body">
                    <p class="tour-description">{{ tour.description }}</p>
                    <div class="tags">
                        <ng-container *ngFor="let tag of tour.tags | slice:0:3">
                            <mat-chip>{{ tag }}</mat-chip>
                        </ng-container>

                        <mat-chip *ngIf="tour.tags.length > 3">
                            +{{ tour.tags.length - 3 }}
                        </mat-chip>
                    </div>
                </mat-card-content>
                <mat-card-actions class="tour-action">
                    <button *ngIf="this.user?.role === 'author'" mat-button [routerLink]="['/tours', tour.id]">View Details</button>
                    <button *ngIf="!activeExecution" mat-flat-button color="primary" [routerLink]="['/tour-execution', tour.id]">
                        Start Tour
                    </button>
                     <button  mat-flat-button color="primary"  (click)="openbuyTour(tour)">
                        Buy Tour
                    </button>
                    <ng-container *ngIf="activeExecution">
                        <button *ngIf="activeExecution.tourId === tour.id" mat-flat-button color="accent" [routerLink]="['/tour-execution', tour.id]">
                            Continue Tour
                        </button>
                        <button *ngIf="activeExecution.tourId !== tour.id" mat-flat-button color="primary" disabled title="You already have an active tour">
                            Start Tour
                        </button>
                    </ng-container>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>