<div class="container">
    <h1>Sve ture</h1>
    <div *ngIf="openBuyDialog" class="buydialog">
        <p>Da li ste sigurni da želite da kupite ovu turu?</p>
        <div class="confirmbuttons"> <button mat-flat-button color="primary" (click)="buyTour()">Da</button> <button  (click)="cancelBuying()" mat-flat-button color="primary">Ne</button></div>
    </div>
    <button *ngIf="this.user?.role === 'author'" mat-flat-button (click)="openCreateTour()">Kreiraj Turu</button>
    <div  class="all-tours">
        <div *ngFor="let tour of tours">
            <mat-card class="tour">
                <mat-card-header class="tour-header">
                    <mat-card-title class="tour-title">
                    <span class="tour-name">{{ tour.name }}</span>
                    @if(tour.price) {
                        <span class="tour-price">RSD {{ tour.price }}</span>
                    } @else {
                        <span class="tour-price">BESPLATNO</span>
                    }
                    </mat-card-title>
                    <div class="tour-difficulty" [ngClass]="tour.difficulty.toLowerCase()">
                        <mat-card-subtitle>
                            @if(tour.difficulty == 'EASY'){
                                <img class="difficulty-img" src="../../../assets/tour-difficulty/easy.png">
                            } @else {
                                <img class="difficulty-img" src="../../../assets/tour-difficulty/hard.png">
                            }
                            {{ tour.difficulty }}
                        </mat-card-subtitle>
                    </div>
                </mat-card-header>

                <mat-card-content class="tour-body">
                    <p class="tour-description">{{ tour.description }}</p>
                    <div class="tags">
                        <ng-container *ngFor="let tag of tour.tags | slice:0:3">
                            <mat-chip>{{ tag }}</mat-chip>
                        </ng-container>

                        <mat-chip *ngIf="tour.tags.length > 3">
                            +{{ tour.tags.length - 3 }}
                        </mat-chip>
                    </div>
                </mat-card-content>
                <mat-card-actions class="tour-action">
                    @if(user?.role !== 'author') {
                        <button mat-button (click)="openTourDetailsDialog(tour)">Pogledaj detalje</button>
                    }
                    <button *ngIf="this.user?.role === 'author'" mat-button [routerLink]="['/tours', tour.id]">Pogledaj detalje</button>
                    <!-- <button *ngIf="!activeExecution && user?.role !== 'author'" mat-flat-button color="primary" [routerLink]="['/tour-execution', tour.id]">
                        Start Tour
                    </button> -->
                    <button mat-button (click)="openRecensionListModal(tour)">Pogledaj recenzije</button>
                    @if (user?.role !== 'author') {
                        <button [hidden]="isBought(tour.id)" mat-flat-button color="primary"  (click)="openbuyTour(tour)">
                           Kupi turu
                       </button>
                    }
                 <button *ngIf="false" mat-button [routerLink]="['/tours', tour.id, 'map-editor']">
                Edit Key Points
                </button>
                    <!-- <ng-container *ngIf="activeExecution"> -->
                        <!-- <button *ngIf="activeExecution.tourId === tour.id && user?.role !== 'author'" mat-flat-button color="accent" [routerLink]="['/tour-execution', tour.id]">
                            Continue Tour
                        </button> -->
                        <!-- <button *ngIf="activeExecution.tourId !== tour.id && user?.role !== 'author'" mat-flat-button color="primary" disabled title="You already have an active tour">
                            Start Tour
                        </button> -->
                    <!-- </ng-container> -->
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<app-recension-list
    *ngIf="isRecensionListVisible && selectedTourIdForRecensions"
    [tourId]="selectedTourIdForRecensions"
    (close)="onRecensionListModalClose()">
</app-recension-list>