:host {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.container {
    width: calc(100% - 4rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
    padding: 0 4rem;
}

.all-tours {
    width: 100%;
    display: grid;
    gap: 1.5rem 0.8rem;
    grid-template-columns: repeat(auto-fill, 400px);
}

.tour {
    width: 350px;
    height: 450px;
    display: flex;
}

.tour-header {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tour-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tags {
    display: flex;
    gap: 0.3rem;
}

.tour-description {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tour-difficulty {
    width: fit-content;
    padding: 0.3rem 1rem;
    border-radius: 10px;
}

.tour-difficulty.easy {
    background-color: rgba(green, 0.3);
    border: 1px solid rgba(green, 0.6);
}

.tour-difficulty.medium {
    background-color: rgba(orange, 0.3);
    border: 1px solid rgba(orange, 0.6);
}

.tour-difficulty.hard {
    background-color: rgba(red, 0.3);
    border: 1px solid rgba(red, 0.6);
}

.tour-difficulty.easy > mat-card-subtitle {
    color: rgba(green, 0.6);
}

.tour-difficulty.medium > mat-card-subtitle {
    color: rgba(orange, 0.6);
}

.tour-difficulty.hard > mat-card-subtitle {
    color: rgba(red, 0.6);
}

.difficulty-img {
    width: 20px;
    height: 20px;
    margin-right: 0.2rem;
}
.actions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}