<mat-toolbar class="navbar" color="primary">
  <div class="navbar-container">
    <!-- Logo -->
    <a routerLink="/" class="navbar-logo">
      <mat-icon>explore</mat-icon>
      <span>TouristApp</span>
    </a>

    <div class="nav-links" *ngIf="authService.user$ | async as user">
      <!-- Uslov: Prikazujemo linkove samo ako korisnik nije 'gost' (id != '0') -->
      <ng-container *ngIf="user.id !== '0'">
        <a mat-button routerLink="/tours" routerLinkActive="active-link">Ture</a>
        <a mat-button routerLink="/blogs/feed" routerLinkActive="active-link">Blogovi</a>
        <a mat-button routerLink="/following/users" routerLinkActive="active-link">Korisnici</a>
        
        <!-- === DODAJ OVAJ DEO === -->
        <!-- Prikazujemo link za listu korisnika SAMO AKO je uloga 'administrator' -->
        <a *ngIf="user.role === 'administrator'" 
           mat-button 
           routerLink="/usersList" 
           routerLinkActive="active-link">
          Korisnici
        </a>
        <!-- ======================= -->

      </ng-container>
    </div>
    

    <!-- Spacer da gurne desni deo do kraja -->
    <span class="spacer"></span>
      
    <!-- Desni deo: Login/Register ili Korisnički Meni -->
    <div class="user-section">
      
      
      <!-- Ako korisnik NIJE ulogovan -->
      <ng-container *ngIf="(authService.user$ | async)?.id === '0'; else userMenu">
        <a mat-button routerLink="/login">Login</a>
        <a mat-raised-button color="accent" routerLink="/registration">Register</a>
      </ng-container>

      <!-- Ako KORISNIK JESTE ulogovan -->
      <ng-template #userMenu>
        <div *ngIf="user$ | async as user">
          <a mat-button routerLink="/cart" color="accent">Cart</a>
          <button mat-icon-button [matMenuTriggerFor]="menu" class="user-avatar-button">
            
            <div class="avatar">
              {{ getUserInitials(user.username) }}
            </div>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <div class="user-info-menu">
              <p class="username">{{ user.username }}</p>
              <p class="role">{{ user.role }}</p>
            </div>
            <mat-divider></mat-divider>
            <button mat-menu-item routerLink="/profile" >
              <mat-icon>person</mat-icon>
              <span>Profil</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Izloguj se</span>
            </button>
          </mat-menu>
        </div>
      </ng-template>
    </div>
  </div>
</mat-toolbar>