.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.new-tour-fields {
    display: flex;
    flex-direction: column;
}